.container {
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left__sidebar {
    flex-basis: 23%;
    align-self: flex-start;
    border-radius: 20px;
    overflow-y: auto;
    position: sticky;
    top: 73px;
}

.sidebar-profile-box {
    background: #fff;
    border-radius: 20px;
}

.sidebar-profile-box img {
    border-radius: 20px 20px 0 0;
}

.sidebar-profile-info {
    padding: 0 25px;
}

.sidebar-profile-info img {
    position: relative;
    width: 90px;
    border-radius: 50%;
    padding: 4px;
    background: #fff;
    margin-left: 85px;
    margin-top: -45px;
    cursor: pointer;
}

.left__sidebar-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sidebar-profile-info h1 {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.sidebar-profile-info h3 {
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.sidebar-profile-info ul {
    list-style: none;
    margin: 20px 0;
}

.sidebar-profile-info ul li {
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
}

.sidebar-profile-info ul li span {
    float: right;
}

.sidebar__profile-link {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    margin-right: 25px;
    margin-left: 25px;
}

.sidebar__profile-link a {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 13px;
    border-left: 1px solid #ccc;
}

.sidebar__profile-link a:first-child {
    border-left: none;
}

.sidebar__profile-link a img {
    width: 20px;
    margin-right: 10px;
}

.sidebar__activity {
    background: #fff;
    padding: 5px 25px;
    margin: 12px 0;
    border-radius: 20px;
}

.sidebar__activity h3 {
    color: #777;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar__activity a {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}

.sidebar__activity a img {
    width: 20px;
    margin-right: 10px;
}

.discover-more-link {
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
}

.discover-more-link a {
    color: #222222a2;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin: 10px 0;
}

.discover-more-link a:hover {
    color: #045be6;
    border-bottom: 2px solid #045be6;
}